# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Logs
logs
*.log

# Misc
.fleet
.idea

# wrangler files
.wrangler
.dev.vars*

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*