---
import LayoutDefault from "@layouts/LayoutDefault.astro";
import ContentVertical from "@components/position/ContentVertical.astro";
import type { BlogPost } from "../../types/posts";
const posts = Object.values(import.meta.glob<BlogPost>("./blog/*.md", { eager: true }));
---

<LayoutDefault>
  <ContentVertical>
    <h1>Blog</h1>

    <h2>Archive des articles :</h2>
    <ul>
      {posts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
  </ContentVertical>
</LayoutDefault>