---
import ContentHorizontal from '@components/position/ContentHorizontal.astro';
import ContentVertical from '@components/position/ContentVertical.astro';
import BaseLayout from '@layouts/base.astro';
import { useTranslatedPath } from '@i18n/utilities';
import { getLangFromUrl } from '@i18n/utilities';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import TrustImage from '../../../images/Trust.png';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<BaseLayout>
  <ContentVertical>
    <p>Trust center</p>
    <h1>Trust Ansearch with your data</h1>
    <p>
      Your data is important and sensitive, that's why we we are going the extra
      mile with our security.
    </p>
  </ContentVertical>

  <ContentHorizontal>
    <div class="security-copy">
      <Icon name="streamline-flex:incorrect-password-remix" class="icon" />
      <h3>No passwords</h3>
      <p>
        We do not use a single password in our application.
        <br />
        <br />
        Make sure your email, Google or Microsoft accounts are protected with 2 factor
        authentication and you are good to go (and please ensure the 2FA is not using
        SMS, those are NOT secure).
      </p>
    </div>

    <div class="security-copy">
      <Icon name="fa7-solid:users-slash" class="icon" />
      <h3>Data only you can access</h3>
      <p>
        All of our services are relying on the industry standard OAuth, with the
        least permissions possible.
        <br />
        <br />
        Oauth allows you pick exactly what will be shared with us, and that you will
        never see the data of someone else, even from your own organisation.
      </p>
    </div>
  </ContentHorizontal>

  <ContentHorizontal whiteBackground>
    <div class="security-copy">
      <Icon name="lucide:copy-x" class="icon" />
      <h3>No duplication</h3>
      <p>
        We are using ground breaking technology that allows our solution to work
        without ever storing your company data*. When you use Ansearch, all
        information processing is performed live, and all the documents or data
        we use are discarded after.
        <br />
        <br />
        <em
          >A more concrete example: when you search, we find emails, contacts
          and documents; we answer you based on their content and keep a link to
          display. Once our AI is finished, all the emails, contact and
          documents are discarded, and we only keep the answer.</em
        >
        <br />
        <br />
        <em class="text-sm text-stone-500">
          *: in some very rare case we do need to copy some data. Those tools
          are locked by default, and require you to talk to our team before
          connecting to them, so we can brief you.
        </em>
      </p>
    </div>
    <Image src={TrustImage} class="h-auto md:max-w-lg" alt="No duplication" />
  </ContentHorizontal>

  <ContentVertical>
    <h2>Your data is encrypted...</h2>
    <p>And a lot more than your usual applications</p>

    <ContentHorizontal>
      <div class="security-copy">
        <Icon name="streamline-plump:padlock-key-solid" class="icon" />
        <h3>In transit</h3>
        <p>
          via https, both between you and us, but also between our various
          services. We never transfer data unencrypted.
        </p>
      </div>

      <div class="security-copy">
        <Icon name="streamline:database-lock-remix" class="icon" />
        <h3>At rest</h3>
        <p>
          via our database service providers, this means when your data is not
          actively in use, it will be encrypted using AES-256 GCM, which is a
          strong algorithm that can even protect against quantum computers.
        </p>
      </div>

      <div class="security-copy">
        <Icon name="fa7-solid:microchip" class="icon" />
        <h3>At work (In application)</h3>
        <p>
          for some extra sensitive information. This means this information can
          be unlocked exclusively by you, and even when being used by our
          servers, it is encrypted. We are using AES-256 GCM.
        </p>
      </div>
    </ContentHorizontal>
  </ContentVertical>

  <ContentVertical whiteBackground>
    <h2>Compliance & certifications</h2>
    <ContentHorizontal>
      <div class="security-copy">
        <Icon name="twemoji:flag-european-union" class="icon" />
        <h3>GDPR & EU data residency</h3>
        <p>
          We are using servers in the EU, your data stays in the EU, and is
          protected by the General Data Protection Regulation (GDPR).
        </p>
      </div>

      <div class="security-copy">
        <Icon name="streamline-plump:shield-1-remix" class="icon" />
        <h3>Trusted providers</h3>
        <p>
          We use exclusively AI providers we trust, we avoid providers that may
          have conflict of interest or that do not offer strict and clear data
          protection. Additionally, for all of our third party processors, we
          rigorously inspect their terms and verify they are all certified with
          SOC2 or ISO 27001. <a
            class="text-amber-600"
            href={translatePath('/policies/sub-processors')}
            >You can find the list of our sub-processor here</a
          >.
        </p>
      </div>

      <div class="security-copy">
        <Icon name="streamline-plump:document-certificate-remix" class="icon" />
        <h3>Cyber essentials + / ISO 27001 / Self hosting</h3>
        <p>
          We are a bootstraped business, certifications are too expensive for us
          today, however we were certified in the past with another business,
          and Ansearch is compliant. (we know our stuff pretty well too,
          <a
            class="text-amber-600"
            href="https://astarlogic.com/blog/startups/cyber-essentials-plus-with-linux"
            >you can check out this blog from our CEO</a
          >). We will get certified again whenever we can, in the meantime we
          offer self-hosting option.
        </p>
      </div>
    </ContentHorizontal>
  </ContentVertical>
</BaseLayout>

<style>
  @reference "tailwindcss";

  .security-copy {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    text-align: start;
    max-width: 60ch;
    height: 100%;
    @apply gap-4;
  }

  .icon {
    @apply text-amber-600 text-3xl;
  }
</style>
