---
interface Props {
  whiteBackground?: boolean;
}

const { whiteBackground } = Astro.props;
---

<div class:list={[whiteBackground ? "bg-white" : ""]}>
  <div class="container mx-auto px-1">
    <div class="flex-horizontal">
      <slot />
    </div>
  </div>
</div>

<style>
  @reference "tailwindcss";

  .flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    @apply gap-4 py-28;
  }
</style>
