---
interface Props {
  whiteBackground?: boolean;
  reverse?: boolean;
}

const { whiteBackground, reverse } = Astro.props;
---

<div class:list={[whiteBackground ? 'bg-white' : '']}>
  <div class="container mx-auto px-1">
    <div class:list={['flex-horizontal', reverse && 'reverse']}>
      <slot />
    </div>
  </div>
</div>

<style>
  @reference "tailwindcss";

  .flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    @apply gap-6 py-28;

    &.reverse {
      flex-direction: row-reverse;
    }
  }
</style>
