---
const { categories, tags } = Astro.props;

const currentUrl = new URL(Astro.url);
const activeCategory = currentUrl.searchParams.get('category');
const activeTags = currentUrl.searchParams.get('tag')?.split('-') || null;
---

<aside>
  <div class="filter">
    <h3>Categories</h3>
    <ul>
      {
        categories.map((cat: string) => {
          const url = new URL(currentUrl);
          url.searchParams.set('category', cat);
          const active = activeCategory === cat;
          return (
            <li class={active ? 'font-bold' : ''}>
              <a href={url}>{cat}</a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <div class="filter">
    <h3>Tags</h3>
    <ul>
      {
        tags.map((tag: string) => {
          const url = new URL(currentUrl);
          const currentTags = (url.searchParams.get('tag') || '')
            .split('-')
            .filter(Boolean);
          const active = currentTags.includes(tag);

          let newTags: string[];
          if (active) {
            newTags = currentTags.filter((t) => t !== tag);
          } else {
            newTags = [...currentTags, tag];
          }

          if (newTags.length > 0) {
            url.searchParams.set('tag', newTags.join('-'));
          } else {
            url.searchParams.delete('tag');
          }

          return (
            <li class={active ? 'font-bold' : ''}>
              <a href={url.toString()}>{tag}</a>
            </li>
          );
        })
      }
    </ul>
  </div>

  <p><a href="/blog">Reset filters</a></p>
</aside>

<style>
  @reference "tailwindcss";

  aside {
    @apply bg-white w-[250px] h-full border-r border-gray-200 px-4 py-12;
  }

  .filter {
    margin-bottom: 1.5rem;

    h3 {
      @apply text-lg font-bold mb-2;
    }

    ul {
      @apply list-inside ml-4;

      li {
        @apply mb-1;

        a {
          @apply text-gray-600 hover:text-amber-600;
        }
      }
    }
  }

  p {
    a {
      @apply text-red-600 hover:underline;
    }
  }
</style>
