---
import CopySection from '@components/ui/CopySection.astro';
import Btn from '@components/ui/Btn.astro';
import {
  useTranslatedPath,
  getLangFromUrl,
  useTranslations,
} from '@i18n/utilities';
import Brand from '@components/brand.astro';
import { Icon } from 'astro-icon/components';
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const translation = useTranslations(lang);
---

<footer>
  <div class="banner">
    <div class="container mx-auto">
      <CopySection>
        <Fragment slot="header-title">
          Ready to unlock the power of AI and automation?
        </Fragment>
        <Fragment slot="footer">
          <a
            rel="noopener noreferrer"
            target="_blank"
            href="https://cal.com/olivia-maraval-cal"
          >
            <Btn>
              {translation.cta}
              <Icon name="fa7-solid:arrow-right" />
            </Btn>
          </a>
        </Fragment>
      </CopySection>
    </div>
  </div>

  <div class="footer">
    <div class="brand">
      <Brand coloredBackground />
    </div>
    <div class="rows">
      <ul>
        <li class="row-title">Company</li>
        <li><a href={translatePath('/')}>Product</a></li>
        <li><a href={translatePath('/support')}>Contact/Support</a></li>
      </ul>
      <ul>
        <li class="row-title">Policies</li>
        <li><a href={translatePath('/policies/terms')}>Terms</a></li>
        <li><a href={translatePath('/policies/security')}>Security</a></li>
        <li><a href={translatePath('/policies/privacy')}>Privacy</a></li>
        <li>
          <a href={translatePath('/policies/subprocessors')}>Sub-processors</a>
        </li>
      </ul>
      <ul>
        <li class="row-title">Social</li>
        <li>
          <a
            rel="noopener noreferrer"
            target="_blank"
            href="https://linkedin.com/company/ansearch"
          >
            Linkedin
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p>&copy; {new Date().getFullYear()} Ansearch. All rights reserved.</p>
      <p>Made with ❤️ in Edinburgh, Montpellier & Chennai</p>
    </div>
  </div>
</footer>

<style>
  @reference "tailwindcss";

  footer {
    @apply bg-stone-700;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @apply gap-4 text-stone-300;

    .rows {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      @apply gap-4;

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @apply gap-1;

        .row-title {
          font-weight: bold;
          @apply text-white;
        }
      }
    }
  }

  .brand {
    translate: 0 -50%;
    border: 1px solid;
    @apply bg-amber-200 to-amber-700 from-amber-200 bg-gradient-to-tl p-4 rounded-xl border-amber-700;
  }

  .rounded-rev {
    @apply rounded-tr-[2.5rem] bg-stone-700 h-16;
  }

  .container {
    backdrop-filter: blur(5px);
    border: 1px solid;
    @apply bg-white/50 rounded-3xl py-8 px-12 shadow-lg border-t-stone-50/60 border-l-stone-50/60 border-r-stone-300/60 border-b-stone-300/60;
  }

  .banner {
    background-color: lavender;
    background-image: url('../../images/bee-library.webp');
    background-size: cover;
    background-position: center;
    @apply py-16 px-2 md:p-16 rounded-b-[2.5rem];
  }
</style>
