---
import BaseLayout from './base.astro';
import ContentVertical from '@components/position/ContentVertical.astro';
const {frontmatter} = Astro.props;
---

<BaseLayout>
  <ContentVertical>
    <h1>{frontmatter.title}</h1>
    <p class="post-meta">By {frontmatter.author} | Category: {frontmatter.categories} | Posted on: {frontmatter['date']}</p>
    <slot />
  </ContentVertical>
</BaseLayout>