<div class="hero">
  <slot />
</div>

<style>
  @reference "tailwindcss";

  .hero {
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @apply bg-amber-200 to-amber-700 from-amber-200 bg-gradient-to-tr text-white py-8;
  }

  h1 {
    @apply text-white;
  }
</style>
